{% extends "base.html" %}
<!--this gets all functionalities of base.html -->
{% block content %}
<div class="container page-form">
    <h2>{{ blog_title }}</h2>
    <a href="/posts/new/{{ blog_id }}"><button class="btn btn-primary">New Post</button></a>

    {% if posts|length > 0 %} <!-- if there are no posts-->
        {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.author }}</p>
        <hr>
        {% endfor %}
    {% else %}
        <h4>There arent any posts yet</h4>
    {% endif %}
</div>
{% endblock %}